---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/a-helping-hand-homecare-seattle-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="MKgNpTNMT597GaPgrohIyA", oauth_nonce="89b61786f7992b40493b06d7ea6556f6",
        oauth_signature="gCkxS8GFKB3yabTo2%2FofW2NgmOw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1472505827", oauth_token="sA6mZUpw8bENeVXU7hqIokcfc69HrIh6",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web4-r1-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb7-r10-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/a-helping-hand-homecare-seattle-2?adjust_creative=MKgNpTNMT597GaPgrohIyA\u0026utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=MKgNpTNMT597GaPgrohIyA",
        "rating_img_url": "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 8, "name": "A Helping Hand Homecare", "rating_img_url_small":
        "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/a-helping-hand-homecare-seattle-2?adjust_creative=MKgNpTNMT597GaPgrohIyA\u0026utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=MKgNpTNMT597GaPgrohIyA",
        "categories": [["Home Health Care", "homehealthcare"]], "reviews": [{"rating":
        5, "excerpt": "After my mother had an unfortunate accident, she was released
        from the hospital requiring bed care with extremely limited mobility. Since
        our family did not...", "time_created": 1437334134, "rating_image_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media2.fl.yelpcdn.com/photo/B9kEatSIlV15s5t6Q4FSbw/ms.jpg",
        "id": "j1fD_3NXySCgdfrZPfxN8A", "name": "Nikki K."}, "rating_image_large_url":
        "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "6xSLK39tRhC79TJPpA8zVw"}], "phone": "2066867440", "snippet_text": "After
        my mother had an unfortunate accident, she was released from the hospital
        requiring bed care with extremely limited mobility. Since our family did not...",
        "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/afz2aChW5GCntqvvZxBK5g/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/B9kEatSIlV15s5t6Q4FSbw/ms.jpg",
        "display_phone": "+1-206-686-7440", "rating_img_url_large": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "a-helping-hand-homecare-seattle-2", "is_closed": false, "location":
        {"cross_streets": "57th St \u0026 56th St", "city": "Seattle", "display_address":
        ["5608 17th Ave NW", "Ballard", "Seattle, WA 98107"], "geo_accuracy": 9.5,
        "neighborhoods": ["Ballard"], "postal_code": "98107", "country_code": "US",
        "address": ["5608 17th Ave NW"], "coordinate": {"latitude": 47.6695666, "longitude":
        -122.3787615}, "state_code": "WA"}}'
  recorded_at: Mon, 29 Aug 2016 21:23:48 GMT
recorded_with: VCR 3.0.1
